
:root {
    --udc-blue: hsl(0, 0%, 0%);
    --git-orange: #32f032;
    --bg-light: #7e7979;
    --text-dark: #cf6767;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-dark);
    background-size:cover;
    max-width: 100%;
    justify-content: center;
    background-color:#c6b29a;
}
img {
    max-width: 300px;
    max-height: 300px;
    justify-content: center;
}
header {
    background-color: #661f21;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    border-radius:30px;
    margin-right:1rem;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:1rem;
}
.btn-cta1{
    color :var(--text-dark)

}
.btn-cta2{
    color :var(--text-dark)
}
main {
    max-width: fit-content;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
}

.hero {
    margin-bottom: 1rem;
    background: url("img/heroo.jpg")center center/cover no-repeat;
    border-radius: 16px;
    max-width:90%;
    max-height:100%;
    text-align: center;
    padding: 2rem;
    margin-left:auto;
    margin-right:auto;
}
.hero h2{
    color:#000000
}
.hero p{
     color:#000000
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    background: transparent;
    grid-template-columns: 1fr; 
    padding: 2rem;
    max-width: auto;
    max-height: auto;
    
}
.grid article{
    background-color: #e3d4c4;
}
.redpussy img{
    display:flex;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 100%center center/cover no-repeat;
    
}
.redpussy2 img{
    border-radius: 50%;
    object-fit:cover;
}
.redcat img{
    display:flex;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 400px;
}
article {
    background: #fff;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.redcat-article{
    background-color: #c2957b;
}
.btn-cta {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: #666;
}