/* Paleta de colores y variables */
:root {
    --udc-blue: hsl(0, 0%, 0%);
    --git-orange: #32f032;
    --bg-light: #7e7979;
    --text-dark: #cf6767;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: var(--text-dark);
    background-color: transparent;
}
img {
    max-width: 300px;
    max-height: 300px;
    justify-content: center;
}
header {
    background: url("../img/cartel.jpg")no-repeat center;
    padding: 5rem;
    text-align: center;
    border-bottom: 4px solid var(--udc-blue);
}
contenedor-titulo{
    text-align: center;
    margin: 2rem auto;

}
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.hero {
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    background: url("img/lentes.jpg");
}

article {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-cta {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: #666;
}